body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
 }

 .card {
    box-sizing: border-box;
    margin: 1rem .25em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 0 1 calc(33% - 1em);
}
img {
    max-width: 100%;
}
.original-pick {
    color: red;
}

.switch-door {
    color: blue;
}

.Rtable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
}

  .Rtable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;  
    padding: 0.8em 1.2em;
    overflow: hidden; 
    list-style: none;
    border: solid;
    background: fade(slategrey,20%);
}

.Rtable--8cols > .Rtable-cell { width: 12.5%; }